<div class="b-form__group b-buy">
    <div class="b-buy__item b-buy__name">
        Einkünfte aus Nebentätigkeit
    </div>
    <div class="b-buy__item b-buy__bet">
                                    <span class="b-form__input b-form__euro">
                                        <label for="Betrag">Betrag</label>
                                        <input format="currency" id="Betrag" type="text" ng-model="$parent.bank.betrag" ng-blur="$parent.bank.betrag = vm.parseEuroFormat($parent.bank.betrag)">
                                    </span>
    </div>
    <div class="b-buy__item b-buy__begin">
                                    <span class="b-form__input">
                                        <label for="Nebentätigkeit">Nebentätigkeit</label>
                                        <input id="Nebentätigkeit" type="text" ng-model="$parent.bank.beginn_nebentaetigkeit">
                                    </span>
    </div>
    <div class="b-buy__item b-buy__options" style="margin-top: 15px;">
                                     <span class="b-form__input">
                                        <img src="content/images/icons/trash_basket.png"
                                             class="btn btn__trash btn--light"
                                             ng-click="$parent.vm._deleteBank($parent.key,$parent.bank.side)">
                                    </span>
    </div>
</div>
