<div class="b-form__group b-buy">
    <div class="b-buy__item b-buy__name">
        Privates Darlehen
    </div>
    <div class="b-buy__item b-buy__bet">
                                    <span class="b-form__input b-form__euro">
                                        <label for="Rate">Rate</label>
                                        <input format="currency" id="Rate" type="text" ng-model="$parent.bank.rate" ng-blur="$parent.bank.rate = vm.parseEuroFormat($parent.bank.rate)">
                                    </span>
    </div>
    <div class="b-buy__item b-buy__begin">
                                    <span class="b-form__input">
                                        <label for="Gläubiger">Gläubiger</label>
                                        <input id="Gläubiger" type="text" ng-model="$parent.bank.glaubiger">
                                    </span>
    </div>
    <div class="b-buy__item b-buy__options">
                                     <span class="b-form__input">
                                        <!--<label for="first_name">&nbsp;</label>-->

                                        <img src="content/images/icons/trash_basket.png"
                                             class="btn btn__trash btn--light"
                                             ng-click="$parent.vm._deleteBank($parent.key,$parent.bank.side)">
                                    </span>
    </div>
    <div class="b-buy__item b-buy__name"></div>
    <div class="b-buy__item b-buy__bet">
                                    <span class="b-form__input b-form__euro">
                                        <label for="Aktuelle">Aktuelle Restschuld</label>
                                        <input format="currency" id="Aktuelle" type="text" ng-model="$parent.bank.aktuelle_restschuld" ng-blur="$parent.bank.aktuelle_restschuld = vm.parseEuroFormat($parent.bank.aktuelle_restschuld)">
                                    </span>
    </div>
    <div class="b-buy__item b-buy__begin">
                                    <span class="b-form__input">
                                        <label for="Laufzeitende">Laufzeitende</label>
                                        <input id="Laufzeitende" type="text" ng-model="$parent.bank.laufzeitende">
                                    </span>
    </div>
</div>
