
<div class="europeace">
    <div class="eur europeace2">
        <div class="login-panel">
            <div class="europeace-photo">
                <img src="content/images/imageUltima.jpg">
            </div>
            <div class="eingabeFelderPanel">
                <div class="benutzername">
                    <form ng-submit="vm.login()">
                        <div class="description">
                            Benutzername (E-Mail-Adresse)
                        </div>
                        <div class="tab">
                            <input ng-model="vm.user.Email" class="email" type="email">
                        </div>
                        <div class="habben">Sie haben sich erfolgreich abgemeldet.</div>
                        <div class="pass">
                            <div class="description">
                                Password
                            </div>
                            <div class="tab">
                                <input ng-model="vm.user.Password" type="password" class="password">
                            </div>
                            <div class="links1">
                                <a href="#">Passwort vergessen / Passwort ändern</a>
                            </div>
                            <div class="links2">
                                <button type="submit">Zur Übersicht</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="eur europeace3">
        <div class="login-panel2">
            <div class="europeace-photo2">
                <img src="content/images/imageUltima.jpg">
            </div>
            <div class="description2">
                Für die Nutzung von ultima sind Cookies erforderlich. In Ihrem Browser scheinen sie im Moment deaktiviert zu sein. Bitte aktivieren Sie die Cookies in Ihrem Browser. Unter Umständen muss diese Einstellung von Ihrem Administrator vorgenommen werden.
            </div>
        </div>
    </div>
</div>